_*
*.o
*.beam
*.plt
*.swp
*.swo
.rebar3
.eunit
.erlang.cookie
.rebar
_rel
_deps
_plugins
_tdeps
_build
logs
ebin
log
doc
erl_crash.dump
apps/dccaserver/src/rfc4006_cc_Gy.erl
apps/dccaserver/include/rfc4006_cc_Gy.hrl
