{minimum_otp_vsn, "24"}.

{erl_opts, [
    warnings_as_errors,
    debug_info,
    {parse_transform, lager_transform},
    {lager_truncation_size, 10485760},
    {i, "include"}
]}.

{deps, [
    {lager, "3.9.2"},
    {observer_cli, "1.7.3"},
    systemd,
    {prometheus, "4.8.2"},
    {prometheus_diameter_collector, "1.2.1"},
    {prometheus_httpd, "2.1.11"},
    {prometheus_process_collector, "1.6.0"},
    {eflame, {git, "https://github.com/carlosedp/eflame", {branch, "warns"}}}
    % {eflame, {git, "https://github.com/slfritchie/eflame", {branch, "master"}}}
]}.

{plugins, [
    rebar3_diameter_compiler, relflow, rebar3_dialyzer_html, erlfmt, rebar3_format, rebar3_depup
]}.

{format, [
    {files, ["apps/*/{src,include,test}/*.{erl,hrl,app.src}", "**/{rebar,sys}.config"]},
    {formatter, erlfmt_formatter},
    {options, #{
        paper => 100,
        print_width => 100,
        ignore_pragma => true
    }}
]}.

{provider_hooks, [{pre, [{compile, {diameter, compile}}, {clean, {diameter, clean}}]}]}.

{relx, [
    {release, {dccaserver, "1.0.0"}, [ocsgateway, dccaserver]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {include_src, false}
        ]}
    ]}
]}.

%% xref checks to run
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    % exports_not_used, that is a problem with having multiple apps
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{cover_enabled, true}.

{dialyzer, [
    {warnings, [
        % error_handling,
        %underspecs,
        % unmatched_returns,
        unknown
    ]},
    {plt_extra_apps, [eflame]},
    {plt_apps, all_deps},
    {output_format, raw}
]}.
