%% -*- erlang -*-
{sub_dirs, ["apps/dccaserver",
            "apps/ocsgateway",
            "rel"
           ]}.

{cover_enabled, true}.

{erl_opts, [debug_info,
            warnings_as_errors,
            {i,"include"},
            {src_dirs, ["src"]},
            {parse_transform, lager_transform}
            ]}.
{clean_files, ["apps/*/ebin/*",
               "apps/*/priv/log/*",
               "apps/*/deps/*",
               "log/*",
               "rel/dccaserver"]}.

{deps_dir, ["deps"]}.
{deps, [
    {lager, ".*", {git, "http://github.com/basho/lager.git", "2.1.0"}}
    %{edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}}
]}.

{lib_dirs, ["apps", "deps"]}.
